mbarete/bibliografia
mbarete/__pycache__
diseñoLibre/bibliografia
diseñoLibre/__pycache__
diseñoLibre/aspasDeVientoDeArquimedes/bibliografia
diseñoLibre/aspasDeVientoDeArquimedes/__pycache__
diseñoLibre/cuelloFormador/bibliografia
diseñoLibre/cuelloFormador/__pycache__
diseñoLibre/extrusoraUniversalImpresora3D/bibliografia
diseñoLibre/extrusoraUniversalImpresora3D/__pycache__
diseñoLibre/practicaImagenes/bibliografia
diseñoLibre/practicaImagenes/__pycache__
diseñoLibre/manager/bibliografia
diseñoLibre/manager/__pycache__
