python-utils
python-dateutil
virtualenv
threaded
thread6
numpy
cpp
pandas
Pillow
matplotlib
reportlab
pywin32-ctypes
pyinstaller
pyinstaller-hooks-contrib
pipwin
packaging
importlib-metadata
pyserial
tk
uwsgi
