#prerequisitos antes de PIP

sudo apt install python3-dev libpq-dev
#latex
sudo apt install texlive-latex-base
#tex
sudo apt install texlive-binaries


#prerequisitos con PIP
#postgresSQL
pip install psycopg2



#prerequisitos despues de PIP
#Pillow
sudo apt-get install python-imaging-tk
sudo apt-get install python3-pil
sudo apt-get install python3-pil.imagetk
